{% extends 'main.html' %}
{% block title %}
Ecology Expert
{% endblock title %}

{% block content %}
<div class="mainm">
    <div class="some_class"> Ecology expert - это <br>поставщик услуг в сфере<br>охраны труда и экологии</div>
    <div class="descrip">&nbsp; Работаем с 1993 года </div>
    <div class="achRow">
        <div class="forImage">
    <div class="lab"><br></div>
    <div class="myh4">Собственная лаборатория</div>
        </div>
          <div class="years">
              <div class="numOfYears">
             <p> 27 </p>
              </div>
              <div class="TextYears"> лет на рынке</div>
        </div>
        <div class="projects">  <div class="projectNum"><p>4500 +</p></div>
             <div class="ProjectText">выполненных проектов</div>
    </div>
    </div>
</div>

<div class="darkenBack">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" >

    <div class="carousel-item active">

      <img src="/static/sstol.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/topoboi.com-44871.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/stol.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div>
    <script>
</script>

<div class="JFB">
        <p class="TheyUsedTech">Нашими услугами уже воспользовались</p>
        <div class="Partners">


             <div class="FoodMaster">

            </div>
        <div class="Sinoil"></div>
        <div class="kcell"></div>
            <div class="Shlumberge"></div>

    </div>
    <div class="Partners1">
            <div class="kagazy"></div>
            <div class="hoffman"></div>
            <div class="kainar"></div>
    </div>
    </div>
{% endblock content %}
